<ion-header>
  <ion-navbar>

    <ion-title>
      Edit Profile
    </ion-title>

    <ion-buttons end>
      <button ion-button clear (click)="changeProfile()" [disabled]="isUsernameTaken || !editProfileForm.controls['username'].value">
        Done
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding *ngIf="editProfileForm">

    <ion-item text-center>
      <ion-avatar>
        <img text-center [src]="profilePicture" *ngIf="profilePicture">
      </ion-avatar>

      <button ion-button  color="default" clear (click)="showPictureOptions()">Edit Picture</button>
    </ion-item>

<br/>
  <form [formGroup]="editProfileForm" *ngIf="editProfileForm">
    <ion-list no-border>
      <ion-item>
        <ion-icon name="md-person" item-left></ion-icon>
        <ion-input placeholder="Choose a username" autofocus formControlName="username"></ion-input>
      </ion-item>
      <ion-item *ngIf="validationPending">
        <p>checking username...</p>
      </ion-item>
      <ion-item *ngIf="isUsernameTaken">
        <p>Sorry, this username is already taken</p>
      </ion-item>

      <ion-item>
      <ion-icon name="ios-body" item-left></ion-icon>
      <ion-input placeholder="Name" formControlName="name"></ion-input>
    </ion-item>

      <ion-item>
        <ion-icon name="ios-mic" item-left></ion-icon>
        <ion-input placeholder="Status..." formControlName="status"></ion-input>
      </ion-item>

    </ion-list>

  <ion-list>

    <ion-list-header>
      Private Information
    </ion-list-header>

    <ion-item>
      <ion-icon name="ios-mail" item-left></ion-icon>
      <ion-input placeholder="Email" readonly="true" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="ios-school" item-left></ion-icon>
      <ion-input placeholder="Your School" readonly="true" formControlName="schoolName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-call" item-left></ion-icon>
      <ion-input placeholder="Phone" formControlName="phone"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>

    <ion-list-header>
      Notification Settings
    </ion-list-header>
    <ion-item>
      <ion-toggle checked="true" formControlName="generalNotifications"></ion-toggle>
      <ion-label>
        Allow Notifications
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-toggle checked="true" formControlName="cliqueNotifications"></ion-toggle>
      <ion-label>
        Allow Notifications from my Clique
      </ion-label>
    </ion-item>

  </ion-list>
  </form>
</ion-content>
