<ion-header>
  <ion-navbar>
    <ion-title text-center>CollegeFreeFood</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToMenu()">
        <ion-icon name="ios-menu" color="danger"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
 <!-- <h2>Welcome to CollegeFreeFood</h2>
  <p>
    Commit to the Lord whatever you do, and he will establish your plans. Proverbs 16:3
  </p>
  <p>
    Commit your way to the Lord; trust in him and he will do this: He will make your righteous reward shine like the dawn, your vindication like the noonday sun.Psalm 37:5-6
  </p>
  <p>For I command you today to love the Lord your God, to walk in obedience to him, and to keep his commands,
    decrees and laws; then you will live and increase, and the Lord your God will bless you in the land you are entering to possess. Deuteronomy 30:16</p>-->

  <ion-card *ngFor="let post of timeline">
    <span *ngIf="post.imageUrl"><img [src]="post.imageUrl"/></span>
    <ion-card-content>
      <p><b>{{post.ownerProfile.firstName}}</b></p>

      <p>
        {{post.description}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
